*{
    margin: 0;
    padding: 0;
}

.internal-evil{
    background-image: linear-gradient(to right, rgba(14, 12, 12, 0.52), rgba(0,0 , 0, 0)),
     url(images/Mask\ group.png);
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;}

    .text{
        color: whitesmoke;
        font-family: 'Times New Roman', Times, serif;
        margin-left: 100px;
     }
     .text h1{
        font-weight: 700;
        text-transform:capitalize;
     }

     .text p{
        font-size: 20px;
     }
    
    .btn{
        margin-top: 40px;
    }

    .donatbtn{
        text-decoration: none;
        color: white;
        margin-left: 100px;
        padding: 10px 20px 10px 20px;
        background-color: red;
        border-radius: 5px;
    }
    .iframesection{
        display: flex;
        justify-content: space-around;
        margin-top: 120px;
    }
    .explore{
        margin-left: 100px;
    }
    .explore h1{
        font-size: 40px;
    }

    .explore p{
        font-size: 20px;
    }
    .explorebtn{
        text-decoration: none;
        color:white;
        padding: 10px 30px;
        background-color: red;
        border-radius: 7px;
    }
    .iframevideo{
        height: -50px;
        width: 180px;
        margin-right: 80px;
        padding-right: 20px;
        padding-bottom: 20px;
        
    }

    .survivesection{
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
        margin-left: 120px;
    }

.survivesection img{
     height: 360px;
     width: 450px;   
    }
    .text1 p{
        font-size: 20px;
    }

    .help h1{
        font-size: 40px;
        text-transform: capitalize;
    }
    .help p{
        font-size: 20px;
    }

    .help {
        margin-top: 200px;
        margin-left: 30%;
    }

    .icon{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-right: 300px;
        margin-left: 300px;
    }

    .icon p{
        font-size: 18px;
    }

    .icon2{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 300px;
        margin-right: 300px;
    
    }

    .icon2 p{
        font-size: 18px;
    }

    .boy-hand{
        margin-top: 120px;
        display: flex;
        justify-content: space-around;
    }

    .standing-boy-after{
        margin-top: 50px;
        margin-left: 40%;

    }

    .standing-boy-after h1{
        font-size: 40px;
        text-transform: capitalize;
        margin-bottom: 10px;
    }

    .standing-boy-after p{
        font-size: 20px;
    }

    .loveandhand{
        margin-top: 20px;
        margin-bottom: 120px;
        display: flex;
        justify-content: space-around;
    }

    .loveandhand p{
        font-size: 18px;
    }
    
    .donatebtn2{
        color:red;
        font-weight: 700;
    }

    .eid{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        height: 90px;
        background-color: black;
        text-align: center;

    }

    .eid h1{
        color: rgb(243, 66, 35);
        margin-bottom: 10px;
    }

    .eid p{
        color: white;
        margin-bottom: 10px;

    }